@{
    ViewBag.Title = "About";
}
<h2>Acerca de</h2>


<div class="jumbotron bg-white">
    <h1 class="display-4">Veterinaria</h1>
    <p class="lead">Somos una veterinaria 100% llena de confianza ofreciendo el mejor servicio que podrias encontrar, 
    nuestros servicios abarcan todo cuidado animal.</p>
    <img src="~/Content/img/que_comen_los_gatos_pequenos_1.jpg" alt="Alternate Text" width="400"/>
    <hr class="my-4">
    <p>El mejor serivicio que podrias desear.</p>
    <p class="lead">
        
    </p>
</div>