@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>


<div class="card" style="width: 30rem;">
    <img class="card-img-top" src="~/Content/img/fondo.jpg" alt="Card image cap">
    <div class="card-body">
        <address>
            Veterinaria<br />
            Calle .... #4763 <br />
            Telefono: 664-XX-XX-XX-X<br />
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Veterinaria@example.com">Veterinaria@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Veterinaria@example.com">Veterinaria@example.com</a>
        </address>
    </div>
</div>
